* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 30px 0;

  background: #fdfdfd;
}

h1 {
  text-align: center;
  font-weight: 300;
  color: rgb(36, 32, 32);
}

h1 span {
  font-weight: 600;
}
.texte {
  font-size: 0.8rem;
}
.container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: rgb(99, 163, 236);
  margin-top: 10px;
  z-index: 9999;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 31px;
  font-weight: 500;
  color: rgb(59, 142, 236);
}

.timeline-content span {
  font-size: 15px;
  color: #383535;
}

.timeline-content p {
  font-size: 1em;
  font-weight: 500;
  font-family: "nunito", sans-serif;
  line-height: 1.5em;
  word-spacing: 1px;
  color: rgb(32, 32, 32);
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

header,
main {
  margin: 0;
  display: block;
}

header,
footer {
  min-height: 80px;
}
@media screen and (max-width: 768px) {
  .container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }
  #nav a {
    font-size: 1.03em;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
  .texte {
    font-size: 0.7rem;
  }
}
